<h1>Wall Mounted Items</h1>

<div class="container">
<table id="wallitems-datatable" class="display table table-striped table-bordered" data-source="<%= bags_path(format: :json) %>">

  <thead>
    <tr>
      <th>Expand</th>
      <th>Name</th>
      <th>Variation</th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  </table>
<br></br>
</div>
